nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 222, 186);
    color: rgb(58, 136, 145);
}

.nav-left {
    display: flex;
    align-items: center; 
}

.nav-right {
    width: 80%;
}

ul {
    display: flex;
    justify-content: space-between; 
}

li {
    
}

header {
    background-color: rgb(233, 119, 119);
    color: rgb(252, 221, 176);
}

#duck {
    display: flex;
    background-color: rgb(125, 229, 237);
    color: rgb(88, 55, 208);
}

.text {
    
}

.text p {
    
}

.duck {
    
}

#emergency {
    background-color: red;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(246, 246, 201);
    color: rgb(21, 52, 98);
}
h1, h2 {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 700px;
    }
    